# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# cpp00 ex00
megaphone
# cpp00 ex01
phonebook
# cpp00 ex02
account_log
# cpp01 ex00
zombs
# cpp01 ex03
human
# cpp01 ex04
replace
# cpp01 ex05
harl
# cpp01 ex06
harlFilter
# cpp02 ex00
a.out
# cpp03 ex00
claptrap
# cpp03 ex01
scavtrap
# cpp03 ex02
fragtrap
# cpp03 ex03
diamondtrap
# cpp06 ex00
convert
# cpp09 ex00
btc
# cpp09 ex01
RPN
