# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# cpp00 ex00
megaphone
# cpp00 ex01
phonebook
# cpp00 ex02
account_log
# cpp01 ex00
zombs
# cpp01 ex03
human
# cpp01 ex04
replace
